.ctaItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  color: var(--dark);
  // padding: 1rem 0;

  .description {
    margin: 1rem 0;
    font-family: 'SulSansRegular' !important;
    font-size: 14px;
    color: var(--gray-500);
  }

  .ctaItemHeader {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: flex-end;


    .ctaItemHeaderNotSelected {
      display: flex;
      justify-content: center;
      .chevronDownIcon {
        width: 18px;
        height: 18px;
      }
    }

    h4 {
      font-size: 14px;
      font-weight: 400;
      color: var(--gray-with-blue-400);
      white-space: nowrap;

      span {
        font-size: 1.3rem;
        font-weight: 600;
        color: var(--primary-color);
      }
    }
  }

  .ctaItemContent {
    display: flex;
    align-items: center;

    // padding: 1rem 0 0 1rem;

    h4{
      font-weight: 600;
      font-size: 20px;
      color: var(--primary-color);
    }

   
  }
}
