.ctaItem {
  width: 100%;
  color: var(--dark);

  margin-bottom: 1rem;
  padding-bottom: 0.5rem;

  .ctaItemHeader {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: flex-end;

    .ctaItemHeaderNotSelected {
      display: flex;
      align-items: center;
      .chevronDownIcon {
        width: 18px;
        height: 18px;
      }
    }

    h4 {
      font-size: 0.95rem;
      font-weight: 500;
      color: var(--gray-with-blue-400);

      span {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--primary-color);
      }
    }
  }

  .ctaItemContent {
    display: flex;

    padding: 1rem 0 0 1rem;

    ul {
      font-size: 14px;
    }

    .addButtons {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--light-text);
        cursor: pointer;
        height: 36px;
        width: 36px;
        border-radius: 100%;
        border: 1px solid var(--gray-150);

        .removeIcon {
          font-size: 14px;
        }

        .addIcon {
          font-size: 14px;
        }
      }
      h5 {
        padding: 0 0.5rem;
      }
    }
  }
}
