.ctaItem {
  width: 100%;
  color: var(--dark);
  padding: 1rem 0;

  .ctaItemHeader {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: flex-end;

    font-family: 'DM Sans' !important;

    .ctaItemHeaderNotSelected {
      display: flex;
      align-items: center;
      .chevronDownIcon {
        width: 18px;
        height: 18px;
      }
    }

    h4 {
      font-size: 0.95rem;
      font-weight: 500;
      color: var(--gray-with-blue-400);

      span {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--primary-color);
      }
    }
  }

  .ctaItemContent {
    display: flex;

    padding: 1rem 0 0 1rem;

    ul {
      font-size: 14px;
    }

   
  }
}
