.container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px 0px #00000040;

  width: 242px;
  height: 212px;
  border-radius: 1rem;

  .floatDateContainer {
    // font-family: 'DM Sans';
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin:  0.5rem 0.5rem;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    right: 0;
    
    h4 {
      color: var(--light-text);
      font-size: 0.8rem;
      font-weight: 600;
    }
  }

  img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 60%;
    object-fit: cover;

  }

  .contentContainer{
    flex: 1;
    padding: 1rem;
    display: flex;
    align-items: center;

    h4 {
      color: var(--dark-text);
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

}
