.heroSection {
  min-height: 572px;
  max-height: 920px;
  text-align: center;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 3rem,
      transparent 100rem
    ),
    url(/images/hero/bg.jpg);
  background-position: center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: fit-content;
  color: var(--light);
  padding: 10rem var(--sidePadding) 6rem;

  @media screen and (min-width: 568px) {
    padding: 14rem 0 6rem;
  }

  @media screen and (min-width: 1180px) {
    height: 90vh;
  }

  .heroInner {
    display: flex;
    justify-content: center;
    max-width: var(--containerWidth);
    margin: 0 auto;
  }

  h1 {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 2rem;
    max-width: 400px;

    @media screen and (min-width: 425px){
      font-size: 36px;
    }
    @media screen and (min-width: 728px){
      font-size: 42px;
      max-width: 500px;
    }
  }

  p{
    margin-bottom: 1rem;
  }
}
