.heroSection {
  min-height: 50vh !important;
  text-align: center;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 3rem,
      transparent 100rem
    ),
    url(/images/hero/bg.jpg);
  background-position: center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: fit-content;
  color: var(--light);
  padding: 10rem var(--sidePadding) 6rem;

  @media screen and (min-width: 568px) {
    padding: 14rem 0 6rem;
  }

  @media screen and (min-width: 1180px) {
    height: 90vh;
  }

  .heroInner {
    display: flex;
    justify-content: center;
    max-width: var(--containerWidth);
    margin: 0 auto;
  }

  span {
    max-width: var(--maxWidth);
  }

  h1 {
    font-weight: 900;
    font-size: clamp(2.5rem, 5.5vw, 2.6rem);
    line-height: normal;
    margin-bottom: 2rem;
  }

  p{
    margin-bottom: 1rem;
  }
}
