.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;

  width: 100vw;
  height: 100vh;

  @media screen and (min-width: 1024px) {
    height: auto;
  }

  .modal {
    position: relative;
    display: flex;

    overflow: auto;
    z-index: 99;

    background-color: rgba(255, 255, 255);
    width: 100%;
    min-height: 800px;

    color: rgba(0, 0, 0);

    flex-direction: column;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
    }

    .desktopContainer {
      display: flex;
      max-width: 1200px;
      width: 100%;
      height: 100vh;
      margin: 0 auto;

      // Left side
      .desktopPaymentStatusBox {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 4rem 2rem 4rem 2rem;

        .desktopStatusContainer {
          display: flex;
          flex-direction: column;
        }

        .mainTitle {
          font-size: 24px;
          font-weight: 400;
          margin-bottom: 4px;
        }

        .mainDescription {
          font-size: 14px;
          font-weight: 400;
          max-width: 70%;
          margin-bottom: 16px;

          span {
            color: #828282;
          }
        }
        .checkIconWithCodeHolder {
          display: flex;
          width: 100%;
          height: auto;
          align-items: center;

          .bookingCode {
            color: #93a2ab;
          }
        }

        .bookingTitle {
          font-size: 20px;
          margin-top: 1rem;
          margin-bottom: 16px;
        }

        .desktopStatusContainer {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .statusContainerHeader {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 90%;
            background-color: green;
          }

          .desktopStatusCircleContainer {
            display: flex;
            width: 90%;
            // justify-content: space-between;
          }

          .statusHolder {
            display: flex;
            flex-direction: column;
            z-index: 99;
            width: 100%;
            margin-right: 32px;

            .statusTitle {
              font-size: 18px;
              margin-top: 8px;
            }
            .statusDescription {
              font-size: 14px;

              color: #aebfc9;
            }

            .statusCodeInfoBox {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;
            }
          }
        }
      }

      // Rigth Side
      .desktopPaymentInfo {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .paymentInfoHeader {
          display: flex;
          width: 100%;
          margin-bottom: 8px;
          justify-content: flex-start;
          flex-direction: column;

          .date {
            font-size: 12px;
            margin-bottom: 4px;

            span {
              color: #2ab59c;
            }
          }

          .dateTimeline {
            font-size: 20px;
            color: #fff;
          }
        }

        .cardInfo {
          display: flex;
          min-height: 200px;
          width: 100%;
        }
      }
    }

    // MOBILE
    .mobSuccessModalHeader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 86px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background-color: #000;
      padding-bottom: 16px;

      span {
        color: #fff;
        font-size: 14px;
        font-weight: 300;
      }
    }

    .mobStatusHeaderContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 72px;
      margin-top: 86px;
      background-color: #f9f9f9;
      border-bottom: 1px solid #ccc;
    }

    .mobTimelineCount {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 72px;
      padding: 1rem 0;
      border-bottom: 1px solid #ccc;

      .mobTimelineTitle {
        font-size: 14px;
        color: #93a2ab;
        margin-bottom: 12px;
      }

      .mobTimeline {
        font-size: 20px;
        color: #000;
        margin-bottom: 12px;
      }

      .mobDate {
        font-size: 12px;
        color: #2ab59c;
      }
    }

    .mobResultContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 72px;
      padding: 2rem 0;
      border-bottom: 1px solid #ccc;

      .mobPixResultTitle {
        font-size: 20px;
        color: #666666;
      }
    }

    .mobReturnFeedbackContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 72px;
      padding: 2rem 1rem;

      .mobReturnFeedbackTitle {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 4px;
      }

      .mobReturnFeedbackDescription {
        text-align: center;
        color: #828282;
        font-size: 14px;
        margin-bottom: 2rem;
      }

      .mobReturnButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 56px;
        border-radius: 4px;
        background-color: #000;
        border: none;

        .mobReturnButtonTitle {
          color: #fff;
        }
      }
    }
  }
}

// Components

.valueBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 24px;
  padding: 24px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #f9f9f9;

  .value {
    font-size: 18px;
    color: #2ab59c;
  }
}

.mobSuccessPaymentSubtitle {
  font-size: 14px;
  color: #93a2ab;
}

.mobSuccessPaymentTitle {
  font-size: 24px;
  color: #2ab59c;
}

.pixObsTitle {
  margin-top: 2rem;
  font-size: 14px;
}

.pixObs {
  font-size: 12px;
}

.mobPixCode {
  font-size: 14px;
  color: #93a2ab;
  margin-bottom: 1rem;
}

.mobButton {
  cursor: pointer;
  width: 160px;
  height: 42px;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 12px;
}

.qrCodeContainerDesk {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.backHome {
  font-size: 14px;
  color: #2ab59c;
}

.accItemHeader {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 24px;
  height: 72px;
  width: 100%;

  background-color: #2ab59c;

  .accSubtitle {
    font-weight: 200;
    font-size: 12px;
    color: #fff;
    margin-bottom: 4px;
  }

  .accTitle {
    font-size: 18px;
    color: #fff;
  }

  .chevronDownIcon {
    color: #fff;
  }
}

.copyInfoContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 0 12px 0;
  cursor: pointer;

  .copyInfo {
    font-size: 14px;
    color: #2ab59c;
  }
}

.cardDetailsResultContainerDesk {
  display: flex;
  flex-direction: column;

  .holderTitle {
    color: #93a2ab;
    font-weight: 400;
    font-size: 14px;
  }
  .holderDescription {
    font-weight: 400;
    font-size: 14px;
  }

  .holderCardDetails {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}

.cardDetailsResultContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;

  .CaTitle {
    font-weight: 400;
    color: #93a2ab;
    font-size: 14px;
  }
  .holderDescription {
    font-weight: 400;
    font-size: 14px;
  }

  .holderCardDetails {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .valueBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 24px;
    padding: 2rem;
    background-color: #f9f9f9;
  }
}

.checkIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 64px;
  height: 64px;
  border-radius: 8px;

  border: 1px solid #2ab59c;
  margin-bottom: 2rem;

  .circleProgress {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: #2ab59c;
    border-radius: 24px;
  }
}

.localizationTitle {
  font-size: 16px;
  color: #2ab59c;
  margin-left: 8px;
}

.line {
  width: 80%;
  height: 1px;
  border: none;
  margin: 1rem 0;
  background-color: #c8c8c8;
}

.statusLine {
  width: 12px;
  height: 1px;
  margin-left: 6px;
  margin-right: 6px;
  background-color: #c8c8c8;
}

.statusLineDesktop {
  width: 60%;

  margin-left: 6px;
  margin-right: 6px;
  border-bottom: 1px dashed #c8c8c8;
  position: relative;
  bottom: -32px;
}

.statusContainer {
  display: flex;
  padding: 0 2rem;

  .statusBox {
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      margin-left: 4px;
      font-size: 12px;
    }
  }
}

.circleProgress {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background: #2ab59c;
  border-radius: 64px;
  border: 8px solid #fff;
  position: relative;
  left: -8px;
}

.locationContainer {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  align-self: flex-start;
}

.confirmBtn {
  cursor: pointer;
}
