.container {
  display: flex;
  flex-direction: column;
  min-width: 216px;
  max-width: 216px;
  min-height: 216px;
  margin: 2rem 1rem 0;

  .img {
    position: relative;
    width: 100%;
    height: 216px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;

    overflow: hidden;
    background-color: var(--gray);
  }

  h4 {
    margin-top: 1.5rem;
    margin-bottom: 0.2rem;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 26px;
    text-align: center;
  }

  p {
    font-weight: 400;
    font-size: 0.9rem;
    text-align: center;

    color: var(--gray-400);
  }
}
