.mainBox {
  max-width: 1568px;
  margin: 0 auto;
  background-color: var(--light-text);
}

.title {
  font-size: 1.8rem;
  margin: 2rem 1rem;

  @media screen and (min-width: 524px) {
    font-size: 2rem;
    margin: 2rem 2rem;
  }
  @media screen and (min-width: 568px) {
    font-size: 2.5rem;
  }
  @media screen and (min-width: 628px) {
    margin: 3rem 2rem;
  }

  @media screen and (min-width: 1024px) {
    margin: 3rem 4rem;
  }

  @media screen and (min-width: 1280px) {
    font-size: 2.5rem;
    line-height: normal;
    margin: 3rem 8rem;
  }

  span {
    color: var(--primary-color);
  }
}

.eventsContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;

  border-bottom: 1px solid var(--gray);

  .scrollContainer {
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }
}

.clientsContainer {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  width: 100%;

  h2 {
    text-align: center;
    max-width: 80%;
    align-self: center;

    @media screen and (min-width: 1280px) {
      max-width: 30%;
    }
  }

  border-top: 1px solid var(--gray);

  .clientsCardContainer {
    display: flex;
    overflow: auto;
    @media screen and(min-width: 768px) {
      align-self: center;
    }

    /* Removes the horizontal scrolbar */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
