.amenitie {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // width: 64px;
  height: 48px;
  margin-right: 0.4rem;

  h5 {
    margin: 0.3rem;
    font-size: 0.6rem;
    font-weight: 450;
    color: #777;
    white-space: nowrap;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
} 