.mainBox {
  margin: 0 auto;
  @media screen and (min-width: 868px) {
    margin: 100px auto;
  }
  max-width: 1568px;
  align-self: center;

  .btnGoBackDesk {
    display: none;
  }

  .contentBox {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 100%;
    height: auto;

    .btnGoBack {
      position: absolute;
      top: 16px;
      left: 16px;
      z-index: 5;

      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0.2rem 0.2rem #8b8b8b;

      width: 36px;
      height: 36px;
      border-radius: 100%;

      background-color: var(--light-text);
    }

    .carouselContainer {
      @media screen and (min-width: 868px) {
        display: none;
      }
    }

    .imgsBox {
      margin-top: 1rem;
      display: none;
      min-width: 100%;
      height: 26px;
      color: white;

      @media screen and (min-width: 528px) {
        height: 336px;
      }

      .swiperImgsBox {
        flex: 1;
      }

      .imgLeftSide {
        display: none;
        flex: 2;
        background-color: orange;
        background-size: contain;
        background-position: center;

        &.loading {
          animation: shimmer 2s infinite;
          background: linear-gradient(
            to right,
            #eff1f3 4%,
            #e2e2e2 25%,
            #eff1f3 36%
          );
          background-size: 1000px 100%;
        }

        @keyframes shimmer {
          0% {
            background-position: -1000px 0;
          }
          100% {
            background-position: 1000px 0;
          }
        }
      }
      .imgRightSide {
        display: none;
        flex-direction: column;
        flex: 1;
      }
    }

    .content {
      margin-top: 1rem;
      display: flex;
      width: 100%;
      min-height: auto;
      padding: 0 1rem;

      border-bottom: 1px solid #dadada;

      color: white;

      .infoBox {
        display: flex;
        flex-direction: column;
        color: var(--dark);
        width: 100%;

        .iconsContainerHolder {
          display: flex;
          padding: 1rem 0;

          .iconWithNumberContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 0.5rem;

            h5 {
              padding: 0 0.2rem;
              font-size: 0.7rem;
              font-weight: 600;
            }
          }
        }

        h2 {
          margin-bottom: 0.8rem;

          font-size: 26px;

          line-height: normal;

          font-weight: 600;

          @media (min-width: 768px) {
            font-size: 2rem;
          }
        }

        p {
          margin-bottom: 2em;

          line-height: 18px;

          color: var(--gray-600);
          font-weight: 400;
          font-size: 12px;

          @media screen and (min-width: 768px) {
            line-height: 28px;
            font-size: 0.875rem;
          }
          span {
            color: var(--primary-color);
            font-weight: 500;
          }

          @media (min-width: 768px) {
            font-size: 14px;
          }
        }

        .amenitiesContainer {
          display: flex;
          margin-bottom: 1rem;

          .amenitie {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-right: 1rem;

            h5 {
              margin: 8px 0;
              padding: 0 0.2rem;

              font-weight: 600;
              font-size: 0.7rem;
            }
          }
        }
      }

      .ctaBoxHolder {
        display: none;
        flex: 1;
        justify-content: flex-end;

        .ctaBox {
          justify-content: space-between;
          display: none;
          align-items: center;
          flex-direction: column;
          position: -webkit-sticky;
          position: sticky;
          top: 132px;
          width: 100%;
          @media screen and (min-width: 1024px) {
            width: 80%;
          }

          justify-self: flex-end;
          height: 436px;
          color: var(--black);
          border-radius: 0.5rem;
          padding: 1rem 1.5rem;
          padding-bottom: 1rem;

          -webkit-box-shadow: 0px 5px 8px -1px rgba(164, 164, 164, 0.53);
          box-shadow: 0px 5px 8px -1px rgba(164, 164, 164, 0.53);

          border: 1px solid rgb(224, 224, 224);

          .confirmBtn {
            margin-top: 1rem;

            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            padding: 16px;
            border-radius: 0.5rem;
            width: 100%;
            height: 64px;
            background: linear-gradient(
              90.72deg,
              var(--primary-color) 23.93%,
              #0a7763 138.27%
            );

            font-size: 1rem;
            font-weight: 500;

            color: var(--light-text);
          }
        }
      }
    }

    .servicesContainer {
      padding-top: 2rem;

      @media screen and (max-width: 868px) {
        padding-bottom: 100px;
      }

      .customSubtitle {
        padding-left: 1rem;

        color: var(--gray-600);
        font-weight: 500;
      }
      .customTitle {
        padding-left: 1rem;
        padding-bottom: 2rem;
      }

      .gridHolder {
        margin: 0 auto;

        max-width: 1512px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(254px, 1fr));
        justify-content: center;
        grid-gap: 24px;

        padding: 0 16px;

        @media screen and (min-width: 600px) {
          padding: 8px 1rem;
          grid-gap: 32px;
        }

        @media screen and (min-width: 868px) {
          padding: 8px 24px;
          grid-gap: 24px;
        }

        @media screen and (min-width: 1024px) {
          padding: 16px 24px;
          grid-gap: 64px;
        }

        // IPAD's
        @media screen and (width: 820px) and (height: 1180px) {
          padding: 24px;
          grid-gap: 24px;
        }
        @media screen and (width: 768px) and (height: 1024px) {
          padding: 24px;
          grid-gap: 24px;
        }
      }
    }
  }
}

.offersControlContainer {
  position: fixed;
  bottom: 0;
  z-index: 999;
  font-family: 'SulSansRegular' !important;

  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.03);

  @media screen and (min-width: 868px) {
    display: none;
  }

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  background-color: var(--light-text);

  .leftSide {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;

    h4 {
      color: var(--primary-color);
      font-size: 18px;

      span {
        color: var(--gray-400);
        font-size: 14px;
        font-weight: 400;
      }
    }
    h6 {
      font-size: 14px;
    }
  }

  .rightSide {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      padding: 16px;
      border-radius: 0.5rem;
      max-width: 210px;
      width: 100%;
      height: auto;
      background: linear-gradient(
        90.72deg,
        var(--primary-color) 23.93%,
        #0a7763 138.27%
      );

      color: var(--light-text);

      font-size: 1rem;
      font-weight: 500;
    }
  }
}

// *****************************************************************************
// Responsive

@media screen and (min-width: 868px) {
  .mainBox {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: auto;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;

    .btnGoBackDesk {
      cursor: pointer;
      display: flex;
      align-self: flex-start;
      justify-content: center;
      align-items: center;
      margin: 1rem 1rem 0;

      transition: 0.2s ease-in-out;
      // box-shadow: 0 0.2rem 0.2rem rgb(165, 165, 165);
      border: 1px solid rgb(165, 165, 165);
      width: 36px;
      height: 36px;
      border-radius: 100%;

      background-color: var(--light-text);

      &:hover {
        transform: scale(1.1);
        box-shadow: 0 0.2rem 0.2rem rgb(135, 135, 135);
      }
    }

    .contentBox {
      // border-bottom: 1px solid #dadada;
      min-width: 100%;
      height: auto;

      .imgsBox {
        display: flex;
        min-width: 100%;
        height: 456px;
        color: white;
        border-radius: 16px;
        padding: 0 1rem;

        .carousel {
          display: none;
        }

        .imgLeftSide {
          display: flex;
          flex: 2;
          background-color: rgba(225, 225, 225, 0.53);
          background-size: cover;
          border-top-left-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
          background-size: cover;
          transition-delay: 0.5s;

          &:hover {
            cursor: pointer;

            &::after {
              content: '';
              width: 100%;
              height: 100%;
              border-top-left-radius: 0.5rem;
              border-bottom-left-radius: 0.5rem;
              background-color: rgba(0, 0, 0, 0.3);
            }
          }
        }
        .imgRightSide {
          display: flex;
          flex-direction: column;
          flex: 1;
          border-top-right-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;
          padding: 0 8px;

          .secondImgBox {
            flex: 1;
            display: flex;
            background-color: rgba(225, 225, 225, 0.53);
            border-top-right-radius: 0.5rem;
            background-size: cover;

            &:hover {
              cursor: pointer;

              &::after {
                content: '';
                z-index: 2;
                transition: all 1s ease-in-out;
                width: 100%;
                height: 100%;
                border-top-right-radius: 0.5rem;
                background-color: rgba(0, 0, 0, 0.3);
              }
            }
          }

          .thirdImgBox {
            margin-top: 8px;
            flex: 1;
            background-color: rgba(225, 225, 225, 0.53);
            border-bottom-right-radius: 0.5rem;
            background-size: cover;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            &:hover {
              cursor: pointer;

              &::after {
                position: relative;
                z-index: 2;
                transition: all 1s ease-in-out;
                content: '';
                width: 100%;
                height: 100%;
                border-bottom-right-radius: 0.5rem;
                background-color: rgba(0, 0, 0, 0.3);
              }
            }

            .allButton {
              background-color: var(--white);
              padding: 0.2rem 0.7rem;
              border-radius: 0.5rem;
              border: 1.5px solid var(--dark-text);
              display: flex;
              align-items: center;
              transition: all 0.3s ease;
              cursor: pointer;
              z-index: 3;
              position: absolute;
              margin: 0 16px 16px 0;

              p {
                margin-left: 0.8rem;
                color: var(--dark-text);
              }

              &:hover {
                cursor: pointer;
                background-color: var(--gray-150);
              }
            }
          }
        }
      }

      .content {
        margin-top: 2rem;
        display: flex;
        width: 100%;
        min-height: 500px;

        color: white;
        // border-radius: 16px;

        .infoBox {
          flex: 1.5;
          color: #000;

          padding-right: 4rem;
        }

        .ctaBoxHolder {
          display: flex;
          flex: 1;

          .ctaBox {
            display: flex;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .mainBox {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: auto;
    align-items: center;
    background-color: #fff;
    padding-left: 8.1rem;
    padding-right: 8.1rem;
  }
}
