.mainBox {
  margin: 0 auto 0;
  max-width: 1356px;
  align-self: center;

  @media (min-width: 868px) {
    margin: 2rem auto 0;
  }

  font-family: 'SulSansRegular' !important;

  .webPaymentInfos {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 132px;
    width: 40%;
    min-width: 380px;
    height: 100%;
    color: var(--black);
    border-radius: 0.5rem;
    padding: 24px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;

    h3 {
      font-size: 16px;
      font-weight: 400;
      color: var(--gray-with-blue-400);
    }

    .priceInformation {
      margin-bottom: 2rem;

      h4 {
        font-size: 24px;
        font-family: 'Epilogue' !important;
        font-weight: 500;
        margin-bottom: 1rem;
      }

      h5 {
        font-size: 16px;
        font-weight: 200;
        color: #222222;
        margin: 0.3rem 0;
      }
    }

    .row {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      h4 {
        font-weight: 400;
      }
    }

    .termsArea {
      padding-top: 1rem;
    }

    .confirmBtn {
      cursor: pointer;
      margin-top: 1rem;

      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      padding: 16px;
      border-radius: 0.5rem;
      width: 100%;
      height: 64px;
      background-size: 200% 200%;

      background-position: calc((100 - var(--mouse-x, 0)) * 1%)
        calc((100 - var(--mouse-y, 0)) * 1%);
      background-image: radial-gradient(
        circle,
        #0a7763 0%,
        var(--primary-color) 100%
      );

      font-size: 1rem;
      font-weight: 500;

      color: var(--light-text);
    }

    @media screen and (min-width: 868px) {
      display: flex;
    }
  }

  .mobHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    position: fixed;
    z-index: 99;
    background-color: var(--light-text);
    width: 100%;
    min-height: 72px;
    transition: all 0.5s ease-in-out;

    h2 {
      font-size: 16px;
      font-weight: 500;
    }

    .btnGoBack {
      position: absolute;
      top: 16px;
      left: 16px;
      z-index: 99;

      display: flex;

      align-items: center;

      width: 36px;
      height: 36px;
      border-radius: 100%;

      background-color: var(--light-text);
    }

    @media screen and (min-width: 868px) {
      display: none;
    }
  }

  .mobPriceInformation {
    margin-bottom: 2rem;
    padding: 0 1rem;
    padding-bottom: 2rem;

    border-top: 8px solid #dadada;
    border-bottom: 8px solid #dadada;

    @media screen and (min-width: 868px) {
      margin-bottom: 0;
      padding-bottom: 1rem;
      border-bottom: none;
    }

    .mobMoreInfoHolder {
      width: 100%;
      margin-top: 1rem;
      display: flex;
      justify-content: flex-end;

      h5 {
        font-weight: 800;
        font-size: 16px;
      }

      @media screen and (min-width: 868px) {
        display: none;
      }
    }

    h4 {
      padding: 24px 0;
      font-size: 20px;
      @media screen and (min-width: 868px) {
        font-size: 22px;
      }
      font-family: 'Epilogue' !important;
      font-weight: 500;
      // margin-bottom: 1rem;
    }

    h5 {
      font-size: 16px;
      font-weight: 200;
      color: #222222;
      margin: 0.3rem 0;
    }
  }

  .row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    h4 {
      font-weight: 400;
    }
  }

  .mobTotalPrice {
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 2rem 1rem;

    h3 {
      color: var(--light-text);
    }
    h4 {
      font-weight: 500;
      color: var(--light-text);
    }

    @media screen and (min-width: 868px) {
      display: none;
    }
  }

  .contentBox {
    display: flex;
    @media screen and (min-width: 868px) {
      margin-top: 100px;
    }
    flex-direction: column;
    position: relative;
    min-width: 100%;
    height: auto;

    .carouselContainer {
      @media screen and (min-width: 868px) {
        display: none;
      }
    }

    .content {
      margin-top: 32px;
      display: flex;
      width: 100%;

      .infoBox {
        display: flex;
        flex-direction: column;
        color: var(--dark);
        width: 100%;
        padding-bottom: 1rem;

        h2 {
          margin-bottom: 2rem;
        }

        h3 {
          // margin-bottom: 16px;
          font-size: 20px;
          padding: 16px 0 24px 0;
          @media screen and (min-width: 868px) {
            font-size: 22px;
          }
          font-weight: 500;
        }

        .infoHolder {
          width: 100%;
          margin-bottom: 1rem;
          display: flex;
          justify-content: space-between;

          h4 {
            font-weight: 500;
            margin-bottom: 0.5rem;
            font-size: 16px;
          }

          h5 {
            font-size: 16px;
            color: var(--gray-400);
            font-weight: 300;
          }

        }
      }

      .ctaBoxHolder {
        display: none;
        flex: 1;

        .ctaBox {
          display: none;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          position: -webkit-sticky;
          position: sticky;
          top: 36px;
          width: 100%;
          height: 436px;
          padding: 2rem 2rem;
          color: var(--black);
          border-radius: 0.5rem;
        }
      }
    }

    .mobPersonalDataContainer {
      display: flex;
      flex-direction: column;

      width: 100%;
      min-height: auto;
      padding: 0 1rem;
      padding-bottom: 1rem;

      h6 {
        font-size: 14px;
        font-weight: 500;
        color: var(--gray-400);
      }

      h3 {
        margin-top: 0rem;
        margin-bottom: 0.5rem;
        font-size: 18px;
        @media screen and (min-width: 868px) {
          font-size: 22px;
        }
        font-weight: 500;
      }

      .payWithContainer {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 868px) {
          flex-direction: unset;
        }
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1rem;

        .title {
          justify-self: center;
          font-size: 22px;
          margin-top: 0.5rem;
        }

        .payWithLogosContainer {
          display: flex;
          height: auto;

          .payWithLogosBox {
            margin-left: 0.4rem;
            position: relative;
            min-width: 28px;
            height: auto;
            overflow: hidden;
          }
        }
      }

      .defaultInput {
        border: 1px solid rgb(194, 194, 194);
        border-radius: 8px;
        padding: 1rem 1rem;
        font-size: 16px;
        margin-bottom: 0.5rem;
      }

      .cardInfoHolder {
        display: flex;
        flex-direction: column;

        .cardNumberInput {
          font-size: 16px;
          border: 1px solid rgb(194, 194, 194);
          padding: 1rem 1rem;
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
          border-bottom: none;
        }

        .validityInput {
          font-size: 16px;
          border: 1px solid rgb(194, 194, 194);
          padding: 1rem 1rem;
          border-bottom-left-radius: 0.5rem;
          border-right: none;
          width: 50%;
        }

        .cvvInput {
          font-size: 16px;
          width: 50%;
          border: 1px solid rgb(194, 194, 194);
          padding: 1rem 1rem;
          border-bottom-right-radius: 0.5rem;
        }
      }
    }

    .webPoliticsContainer {
      margin-top: 5rem;
      display: none;
      flex-direction: column;
      width: 100%;
      min-height: auto;
      padding: 2rem 1rem;

      border-top: 1.5px solid #dadada;

      h3 {
        margin-bottom: 0.5rem;
        font-size: 22px;
        font-weight: 500;
      }

      h5 {
        font-size: 16px;
        color: var(--gray-400);
        font-weight: 300;
      }

      a {
        color: var(--dark-text);
        font-weight: 500;
        text-decoration: underline;
      }

      h6 {
        font-size: 16px;
        color: var(--gray-400);
        font-weight: 400;
        max-width: 600px;
      }

      .policyCardContainer {
        margin: 2rem 0;
        width: 100%;
        height: 320px;
        display: flex;
        align-items: center;
      }

      .policyCard {
        margin-right: 1rem;
        width: 220px;
        height: 100%;
        padding: 1.2rem 1rem;
        border: 1.5px var(--gray-400) solid;

        h3 {
          margin-bottom: 0.5rem;
          font-size: 0.9rem;
          font-weight: 500;
        }

        p {
          font-size: 0.8rem;
          color: var(--gray-400);
          font-weight: 400;
          max-width: 600px;
        }
      }

      @media screen and (min-width: 868px) {
        display: flex;
      }
    }

    .mobPoliticsContainer {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: auto;
      padding: 2rem 1rem;

      border-top: 8px solid #dadada;
      border-bottom: 8px solid #dadada;

      .row {
        display: flex;
        align-items: center;

        h3 {
          font-weight: 300;
        }

        .chevronIcon {
          margin-left: 4px;
          margin-bottom: 5px;
        }
      }

      h3 {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-weight: 500;
      }

      h5 {
        font-size: 16px;
        color: var(--gray-400);
        font-weight: 300;
      }

      a {
        color: var(--dark-text);
        font-weight: 300;
        text-decoration: underline;
      }

      h6 {
        font-size: 0.8rem;
        color: var(--gray-400);
        font-weight: 400;
        max-width: 600px;
      }

      .policyCardContainer {
        margin: 2rem 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .policyCard {
        width: 100%;
        height: 100%;
        border-top: 1px solid var(--gray-150);
        padding: 1rem 0;

        h3 {
          margin-bottom: 0.5rem;
          font-size: 18px;
          @media screen and (min-width: 868px) {
            font-size: 22px;
          }
          font-weight: 500;
        }

        p {
          font-size: 16px;
          color: var(--gray-400);
          font-weight: 400;
          max-width: 600px;
        }
      }

      @media screen and (min-width: 868px) {
        display: none;
      }
    }

    .mobConfirmContainer {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: auto;
      padding: 1rem 1rem;
      padding-bottom: 4rem;

      h6 {
        font-weight: 500;
        font-size: 14px;
      }

      .confirmBtn {
        margin-top: 1rem;

        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        padding: 16px;
        border-radius: 0.5rem;
        width: 100%;
        height: 64px;
        background: linear-gradient(
          90.72deg,
          var(--primary-color) 23.93%,
          #0a7763 138.27%
        );

        font-size: 18px;
        font-weight: 500;

        color: var(--light-text);
      }

      @media screen and (min-width: 868px) {
        display: none;
      }
    }
  }
}

.buttonSeeMoreRoomsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  button {
    cursor: pointer;
    border: none;
    border-radius: 24px;
    border: 1px solid var(--gray-with-blue-400);
    background-color: var(--light-text);
    padding: 0.5rem 1rem;
  }
}

.roomContainer {
  display: flex;

  width: 100%;
  margin: 0 0 1rem 0;

  .imageRoomHolder {
    position: relative;
    width: 124px;
    height: 106px;
    border-radius: 4px;
    overflow: hidden;
  }

  .roomInfo {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 0.5rem;

    h4 {
      font-size: 16px;
      font-weight: 400;
      color: var(--dark);
    }

    .roomNameAdultChildContainer {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .roomQtndPriceContainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  h5 {
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--gray-with-blue-400);
  }

  h6 {
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--gray-with-blue-400);
  }
}

.divisorContainer {
  width: 100%;
  height: auto;
  margin: 24px 0;

  div {
    width: 100%;
    height: 0.5px;
    background-color: var(--gray-200);
  }
}

// *****************************************************************************
// Responsive

@media screen and (min-width: 868px) {
  .mainBox {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: auto;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;

    .contentBox {
      // border-bottom: 1px solid #dadada;
      min-width: 100%;
      height: auto;

      .content {
        // margin-top: 2rem;
        display: flex;
        width: 100%;

        color: white;
        // border-radius: 16px;

        .infoBox {
          flex: 1.5;
          color: #000;
        }

        .ctaBoxHolder {
          display: flex;
          flex: 1;

          .ctaBox {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            position: -webkit-sticky;
            position: sticky;
            top: 36px;
            width: 100%;
            height: 436px;
            padding: 2rem;
            border: 1px solid #dadada;
            color: var(--black);
            border-radius: px;

            -webkit-box-shadow: 0px 5px 8px -1px rgba(225, 225, 225, 0.53);
            box-shadow: 0px 5px 8px -1px rgba(225, 225, 225, 0.53);
          }
        }
      }
    }
  }

  .mainContainer {
    @media screen and (min-width: 868px) {
      display: flex;
      justify-content: space-between;
    }
  }

  .inputsContainer {
    width: 100%;

    @media screen and (min-width: 868px) {
      width: 48%;
    }
  }
}

@media screen and (min-width: 1280px) {
  .mainBox {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: auto;
    align-items: center;
    background-color: #fff;
    padding-left: 8.1rem;
    padding-right: 8.1rem;
  }
}

.contentHeaderDesk {
  display: flex;
  align-items: center;

  .titleHeaderDesk {
    display: none;
    font-size: 32px;
    font-weight: 500;
    margin-left: 16px;

    @media screen and (min-width: 868px) {
      display: flex;
    }
  }

  .btnGoBackDesk {
    cursor: pointer;
    display: none;

    @media screen and (min-width: 868px) {
      display: flex;
    }

    align-self: flex-start;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    // margin-left: 1rem;
    margin-top: 1rem;

    transition: 0.2s ease-in-out;

    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color: rgb(246, 246, 246);

    &:hover {
      transform: scale(1.1);
    }
  }
}

.lgpdAdviceContainer {
  display: flex;

  .lockIcon {
    color: var(--primary-color);
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }

  h4 {
    font-weight: 400;
    font-size: 14px;
  }
}




.cSelect {
  position: relative;
  width: 100%;

  
  // looks funny, needs work
  &:focus {
    outline: none;
  }

  // show caret
  &:before {
    content: '';
    position: absolute;
    top: 48%;
    right: 16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    border-color: var(--primary-color) transparent transparent
      transparent;
    pointer-events: none;
  }

  select {
    width: 100%;
    -webkit-appearance: none; // appearance: none;
    font-size: 16px;
    color: rgb(72, 72, 72);
    border: 1px solid rgb(194, 194, 194);
    border-radius: 8px;
    padding: 1rem;

    &:hover {
      color: rgb(72, 72, 72);
    }

  }
}