.container {
  display: flex;
  flex-direction: column;
  z-index: -1;
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;

  padding-bottom: 100px;

  width: 100%;
  height: 100vh;
  background: white;
  overflow: auto;

  .btnClose {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-left: 1rem;
    width: 42px;
    height: 42px;
    border-radius: 200px;
    color: white;
    background: transparent;
    border: 2px solid var(--gray-150);
    border-radius: 2rem;
    margin-bottom: 2rem;

    .closeIcon {
      padding: 0;
      margin: 0;
      color: var(--dark-text);
      width: 24px;
      height: 24px;
    }
  }

  h2 {
    color: var(--dark-text);

    font-weight: 600;
    margin-left: 0.5rem;
    margin-bottom: 2rem;
  }

  .divisor {
    width: 100%;
    height: 2px;
    margin: 2rem 0 1.5rem;
    background-color: #f4f4f4;
  }

  .eventsContainer {
    width: 100%;
    min-height: 200px;

    h3 {
      padding: 0 1rem;
      margin-bottom: 1rem;
      font-weight: 500;
      color: var(--dark-text);
    }

    .sliderContainer {
      display: flex;
      overflow: scroll;

      scroll-snap-type: x mandatory;
      scroll-padding-left: 1.5rem;
      grid-template-columns: repeat(4, 80%);
      grid-template-rows: 1fr;
    }
  }

  h3 {
    padding: 0 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
    color: var(--dark-text);
  }

  .guestsContainer {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: var(--dark-text);

    // background-color: red;

    h4 {
      font-weight: 500;
    }

    .addButtons {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      // font-family: 'SulSansRegular';

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--light-text);
        cursor: pointer;
        height: 42px;
        width: 42px;
        border-radius: 100%;
        border: 1px solid var(--gray-150);

        .removeIcon {
          font-size: 16px;
        }

        .addIcon {
          font-size: 16px;
        }
      }
      h5 {
        padding: 0 0.5rem;
      }
    }
  }

  .childrenAgeContainer {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;

    .title {
      align-self: flex-end;
      color: var(--gray-400);
      font-weight: 500;
    }

    .sideToSideAgeControllerContainer {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid var(--gray-300);

      h4 {
        color: var(--dark-text);
        font-weight: 500;
      }

      .select {
        position: relative;
        display: block;
        width: 100px;
        border-radius: 2px;
        border-right: 1px solid #dce0e0;
        overflow: hidden;
        cursor: pointer;

        // looks funny, needs work
        &:focus {
          outline: none;
        }

        // show caret
        &:before {
          content: '';
          position: absolute;
          top: 15px;
          right: 12px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6px 4px 0 4px;
          border-color: var(--primary-color) transparent transparent transparent;
          pointer-events: none;
        }

        .selectField {
          font-size: 16px;
          cursor: pointer;
          -webkit-appearance: none;
          -moz-appearance: none;
          text-indent: 0.01px;
          text-overflow: '';
          display: block;
          width: 110%;
          padding: 8px 2em 8px 10px;
          transition: border-color 0.2s;
          border: 1px solid #dce0e0;
          border-radius: 2px;
          background-color: #fff;
          color: var(--primary-color);

          // looks funny, needs work
          &:focus {
            outline: none;
          }

          -webkit-appearance: none;
          /* for webkit browsers */
          -moz-appearance: none;
          /* for firefox */
          appearance: none;
          /* for modern browsers */
          &::-ms-expand {
            display: none;
          }
        }

        /* remove default caret for ie */
      }
    }
  }

  .buttonContainer {
    padding: 2rem 1rem;
  }

  .searchButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 16px;
    border-radius: 0.5rem;
    width: 100%;
    height: 64px;
    background: linear-gradient(
      90.72deg,
      var(--primary-color) 23.93%,
      #0a7763 138.27%
    );

    font-size: 1rem;
    font-weight: 500;
  }
}
