.headerSection {
  position: fixed;
  top: 0;
  color: #fafafc;
  padding: 1.5rem var(--sidePadding);
  width: 100%;
  z-index: 10;
  transition: background 0.2s, border-bottom 0.2s;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--light);
    border-radius: 99px;
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
    transition: all 0.2s;

    label,
    input,
    .guestNumber {
      cursor: pointer;
      background: none;
      font-size: 14px;
      border: none;
      line-height: 1.5;
      display: block;
      color: var(--dark-text);
      outline: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    input {
      width: 100%;
      font-weight: 700;

      &::placeholder {
        color: var(--dark-text);
        font-weight: 400;
        opacity: 0.5;
      }
    }
    .guestNumber {
      font-weight: 700;
      .empty {
        color: var(--dark-text);
        font-weight: 400;
        opacity: 0.5;
      }
    }
    .field {
      cursor: pointer;
      width: 100%;
      padding: 0.5rem 1.5rem;
      border-radius: 99px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: background 0.2s;
      position: relative;

      & + .field::before {
        position: absolute;
        content: '';
        width: 2px;
        height: 2rem;
        // background: var(--gray);
        border-radius: 2px;

        transition: transform 0.2s;
      }
      &:hover,
      &:focus-within {
        background-color: var(--gray-200);
      }

      &:last-of-type {
        padding-right: 10rem;
      }
    }
  }
  .overlay:hover .field::before,
  .overlay:focus-within .field::before {
    transform: scale(0);
  }

  .cart,
  .profile,
  .logo,
  .globe,
  nav {
    display: flex;
    align-items: center;
  }

  .globe {
    display: flex;
    justify-content: center;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 200px;
    transition: all 0.4s;

    &:hover {
      padding: 0.25rem;
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  .headerInner {
    max-width: var(--containerWidth);
    margin: 0 auto;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    cursor: pointer;
    svg {
      height: 2rem;
      color: #fafafc;
      transition: color 0.2s;
    }
    span {
      font-weight: 600;
      font-size: 1.15rem;
      margin-left: 0.5rem;
    }

    img {
      max-height: 48px;
      object-fit: contain;
    }
  }
  .profile {
    justify-content: flex-end;
    white-space: nowrap;
    svg {
      height: 1.15rem;
    }
    a,
    .themeToggle {
      margin-right: 1.5rem;
    }
    .cartIcon {
      height: 1.4rem;
      width: 1.4rem;
      color: #fff;
    }
    .cart {
      cursor: pointer;
      border-radius: 200px;
      padding: 0.25rem;
      transition: all 0.4s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }

  form {
    position: absolute;
    transform: translate(-50%, 150%);
    left: 50%;
    top: -0.8rem;
    background: var(--light);
    padding: 0.5rem;
    border-radius: 99px;
    display: flex;
    align-items: center;
    max-width: 720px;
    margin: 1.5rem 0;
    width: 60vw;
    box-shadow: 0 1rem 3rem -1rem #1e1e38;
    transition: all 0.2s;
    transform-origin: center;

    justify-content: space-between;

    color: var(--dark-text);

    & * {
      transition: all 0.2s;
    }

    & > input {
      cursor: pointer;
      background: none;
      border: none;
      font-size: 1.15rem;
      flex: 1;
      padding: 0 1.5rem;
      color: var(--dark);
      outline: none;

      &::placeholder {
        color: var(--dark);
        opacity: 0.6;
      }
    }
    & > button {
      cursor: pointer;
      background: var(--primary-color);
      color: #fafafc;
      border: none;
      padding: 1.5rem calc(2rem / 2);
      height: 3rem;
      max-width: 300px;
      display: flex;
      align-items: center;
      border-radius: 99px;
      font-weight: 700;
      font-size: 1rem;
      overflow: hidden;
      z-index: 0;
      //
      transition: all 0.4s;

      &:hover:not(:disabled) {
        box-shadow: 0 0 0 2px var(--white), 0 0 0 4px var(--primary-color);
      }

      &:disabled {
        opacity: 0.5;
      }
    }
    & > button svg {
      height: 1.25rem;
      margin-right: 0.75rem;
      flex: 0 0 1.25rem;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  @media (max-width: 868px) {
    .profile,
    .logo,
    form > button span {
      display: none;
    }
    .overlay {
      display: none;
    }
    // .headerInner {
    //   grid-template-columns: 1fr;
    // }

    .btnGoBack {
      z-index: 999;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 42px;
      height: 42px;
      border-radius: 200px;
      border: 2px solid var(--gray-150);
    }
    form {
      position: relative;
      transform: none !important;
      width: 75%;
      max-width: 362px;
      left: unset;
      top: 0;
      margin: 0;
      & > input {
        padding: 0 1rem;
        font-size: 1rem;
      }
      & > button {
        width: 2.5rem;
        height: 2.5rem;
        padding: 0 0.6rem;
      }
      & > button svg {
        height: 1rem;
        width: 1rem;
      }
    }
  }

  // @media (min-width: 36rem) and (max-width: 62.5rem) {
  //   .headerInner {
  //     grid-template-columns: 1fr 1fr ;
  //   }
  // }

  &.scrolled:not(.inputFocus) {
    background: var(--light-text);
    color: var(--dark);
    border-bottom: 1px solid var(--gray-150);

    .overlay {
      opacity: 0;
      pointer-events: none;
    }

    .logo svg {
      color: var(--primary-color);
    }

    .globeIcon {
      color: black !important;
    }

    .cartIcon {
      color: black !important;
    }

    form {
      cursor: pointer;
      background-color: var(--light-text);
      border: 1px solid var(--gray-150);
      box-shadow: rgb(0 0 0 / 8%) 0px 1px 2px, rgb(0 0 0 / 5%) 0px 4px 12px;
      transform: translate(-50%, 0.125rem) scale(0.83);
      width: 412px;

      transition: all 0.4s ease-in-out;

      &:hover {
        box-shadow: rgb(0 0 0 / 10%) 0px 1px 2px, rgb(0 0 0 / 15%) 0px 4px 12px;
      }

      & > button {
        max-width: 3rem;
      }
      & > button span {
        opacity: 0;
      }
    }
    @media (max-width: 36rem) {
      padding-top: 1rem;
      padding-bottom: 1rem;

      form {
        padding: 0.5rem;
        box-shadow: none;

        background: var(--light-text);
        box-shadow: rgb(0 0 0 / 8%) 0px 1px 2px, rgb(0 0 0 / 5%) 0px 4px 12px;
      }
    }

    @media (min-width: 36rem) and (max-width: 62.5rem) {
      // .profile {
      //   opacity: 0;
      //   pointer-events: none;
      // }
      form {
        left: auto;
        right: 0;
        // transform: translate(0, 0.125rem) scale(0.83);
        width: 50%;
      }
    }
  }

  &.inputFocus {
    color: var(--light);

    .logo svg {
      color: var(--primary-color);
    }

    form {
      background: var(--light);
      width: 100%;
      box-shadow: 0 1rem 1.5rem -0.5rem #0001;
    }
  }

  .searchPlaceholder {
    width: 85%;
    margin-left: 1rem;
    color: var(--gray-600);
    font-size: 18px;

    @media screen and (max-width: 868px) {
      font-size: 14px;
    }
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
  }
}
