.controlsContainerHolder {
  overflow-y: auto;
  font-family: 'SulSansRegular' !important;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 8px 16px rgb(0 0 0 / 15%);
  align-self: center;
  position: absolute;
  top: 96px;
  min-width: 800px;
  max-width: 1000px;
  z-index: 9;
  max-height: 656px;
  background: white;
  border-radius: 1rem;
  display: flex;
  padding: 2rem 0 0;
  flex-direction: column;
  color: var(--dark-text);
  padding-bottom: 1rem;

  @media screen and (min-width: 1024px) {
    .controlsContainerHolder {
      min-width: 1000px;
    }
  }

  @media screen and (width: 820px) and (height: 1180px) {
    .controlsContainerHolder {
      min-width: 200px;
    }
  }

  .guestsContainer {
    display: flex;
    align-items: center;
    margin: 0 2rem;

    h4 {
      font-weight: 500;
    }

    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--gray-150);

    .addButtons {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      // font-family: 'SulSansRegular';

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--light-text);
        cursor: pointer;
        height: 42px;
        width: 42px;
        border-radius: 100%;
        border: 1px solid var(--gray-150);

        .removeIcon {
          font-size: 16px;
        }

        .addIcon {
          font-size: 16px;
        }
      }
      h5 {
        padding: 0 0.5rem;
      }
    }
  }

  .eventsContainer {
    width: 100%;
    min-height: 200px;

    h3 {
      margin-left: 6rem;
      padding: 0 1rem;
      margin-bottom: 0.6rem;
      font-weight: 500;
      color: var(--dark-text);
    }

    .swiperContainer {
      padding: 0 7rem 1rem 7rem;
      min-width: 1000px;
    }

    .sliderContainer {
      display: flex;
      overflow: scroll;

      scroll-snap-type: x mandatory;
      scroll-padding-left: 1.5rem;
      grid-template-columns: repeat(4, 80%);
      grid-template-rows: 1fr;
    }
  }

  .childrenAgeContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 0 2rem;
    overflow-y: scroll;
    max-height: 25vh;

    .title {
      font-size: 16px;
      align-self: flex-end;
      color: var(--gray-400);
      font-weight: 500;
    }

    .sideToSideAgeControllerContainer {
      margin-top: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--gray-300);

      h4 {
        font-size: 14px;
        color: var(--dark-text);
        font-weight: 500;
      }

      .cSelect {
        position: relative;
        width: 110px;
      

        // looks funny, needs work
        &:focus {
          outline: none;
        }

        // show caret
        &:before {
          content: '';
          position: absolute;
          top: 48%;
          right: 16px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6px 4px 0 4px;
          border-color: var(--primary-color) transparent transparent transparent;
          pointer-events: none;
        }

        select {
          cursor: pointer;
          width: 100%;
          -webkit-appearance: none; // appearance: none;
          font-size: 16px;
          color: rgb(72, 72, 72);
          border: 1px solid rgb(194, 194, 194);
          border-radius: 8px;
          padding: 1rem;
          font-family: 'SulSansRegular';

          &:hover {
            color: rgb(72, 72, 72);
          }
        }
      }
    }
  }
}

.controlsFullContainer {
  display: flex;
  flex-direction: column;
  z-index: -1;
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  width: 100vw;
  height: 132px;
  background: white;

  // @media screen and (min-width: 868px) {
  //   display: flex;
  // }
}
