.controlsContainerHolder {
  // overflow: auto;
  font-family: "DM Sans" !important;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 8px 16px rgb(0 0 0 / 15%);
  align-self: center;
  position: absolute;
  top: 132px;
  min-width: 800px;
  max-width: 1000px;
  z-index: 9;
  height: 600px;
  background: white;
  border-radius: 1rem;
  display: flex;
  padding: 2rem 3rem;
  flex-direction: column;
  color: var(--dark-text);

  @media screen and (min-width: 1024px) {
    .controlsContainerHolder {
      min-width: 1000px;
    }
  }

  @media screen and (width: 820px) and (height: 1180px) {
    .controlsContainerHolder {
      min-width: 200px;
    }
  }

  .guestsContainer {
    display: flex;
    align-items: center;

    h4 {
      font-weight: 500;
    }

    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--gray-150);

    .addButtons {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      // font-family: 'DM Sans';

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--light-text);
        cursor: pointer;
        height: 42px;
        width: 42px;
        border-radius: 100%;
        border: 1px solid var(--gray-150);

        .removeIcon {
          font-size: 16px;
        }

        .addIcon {
          font-size: 16px;
        }
      }
      h5 {
        padding: 0 0.5rem;
      }
    }
  }

  .childrenAgeContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    overflow-y: scroll;
    max-height: 25vh;
    padding-right: 1rem;
    margin-right: -1rem;

    .title {
      align-self: flex-end;
      color: var(--gray-400);
      font-weight: 500;
    }

    .sideToSideAgeControllerContainer {
      margin-top: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--gray-150);

      h4 {
        color: var(--dark-text);
        font-weight: 500;
      }

      select {
        cursor: pointer;
        color: var(--primary-color);
        border: none;
        font-weight: 500;
        font-size: 1rem;

      }
    }
  }
}

.controlsFullContainer {
  display: flex;
  flex-direction: column;
  z-index: -1;
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  width: 100vw;
  height: 132px;
  background: white;

  // @media screen and (min-width: 868px) {
  //   display: flex;
  // }
}
