.addButtons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-text);
    cursor: pointer;
    height: 36px;
    width: 36px;
    border-radius: 100%;
    border: 1px solid var(--gray-150);

    .removeIcon {
      font-size: 14px;
    }

    .addIcon {
      font-size: 14px;
    }
  }
  h5 {
    padding: 0 0.5rem;
  }
}