.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'DM Sans' !important;

  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  padding-top: 4rem;

  .modal {
    display: flex;
    flex-direction: column;

    overflow: auto;
    z-index: 99;
    position: relative;
    bottom: 0;

    background-color: rgba(255, 255, 255);
    width: 100%;
    height: 100%;
    max-width: 1032px;
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
    padding-bottom: 100px;
    color: rgba(0, 0, 0);

    .modalTitle {
      font-size: 1.5rem;
      font-weight: 500;
      @media screen and (min-width: 568px) {
        padding: 16px 0 0 1rem;
      }
    }
    .modalHeader {
      z-index: 9;
      background-color: var(--light-text);
      position: sticky;
      width: 100%;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2rem 1rem;

      @media screen and (min-width: 568px) {
        padding-right: 2rem;
      }

      width: 100%;
      min-height: 24px;
      border-bottom: 1px solid var(--gray-150);

      .closeButton {
        cursor: pointer;
        width: 20px;
        height: 20px;
      }
    }

    .contentContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: auto;

      padding: 24px 1rem;

      @media screen and (min-width: 568px) {
        padding: 1.5rem 2rem;
      }

      .floatButtonContainer {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 8px;
        width: 100%;
        background: var(--light-text);
        border-top: 1px solid #dadada;

        .confirmBtn {
          cursor: pointer;

          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          padding: 16px;
          border-radius: 8px;
          width: 100%;
          height: 64px;
          background: linear-gradient(
            90.72deg,
            var(--primary-color) 23.93%,
            #0a7763 138.27%
          );

          font-size: 1rem;
          font-weight: 500;

          color: var(--light-text);
        }
      }

      .buttonClearAllContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        button {
          cursor: pointer;
          border: none;
          border-radius: 24px;
          border: 1px solid var(--gray-with-blue-400);
          background-color: var(--light-text);
          padding: 0.5rem 1rem;
        }
      }

      .divisorContainer {
        width: 100%;
        height: auto;
        margin: 24px 0;

        div {
          width: 100%;
          height: 0.5px;
          background-color: var(--gray-200);
        }
      }

      .roomsTitle {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 8px;
      }

      .servicesTitle {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 8px;
        color: var(--gray-with-blue-400);
      }

      .roomContainer {
        display: flex;
        width: 100%;
        margin: 0 0 1rem 0;

        .row {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;

          h4,
          h5 {
            color: var(--dark-text) !important;
            font-weight: 400;
          }
          h5 {
            color: var(--dark-text) !important;
          }
        }

        .imageRoomHolder {
          position: relative;
          width: 124px;
          height: 106px;
          border-radius: 4px;
          overflow: hidden;
        }

        .roomInfo {
          display: flex;
          flex-direction: column;
          flex: 1;
          padding-left: 0.5rem;

          h4 {
            font-size: 16px;
            font-weight: 400;
            color: var(--dark);
          }

          .roomNameAdultChildContainer {
            flex: 1;
            display: flex;
            flex-direction: column;
          }

          .roomQtndPriceContainer {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
          }
        }

        h5 {
          font-size: 0.75rem;
          font-weight: 400;
          color: var(--gray-with-blue-400);
        }

        h6 {
          font-size: 0.7rem;
          font-weight: 400;
          color: var(--gray-with-blue-400);
        }
      }
    }
  }
}

.emptyMessageContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  h4 {
    font-weight: 400 !important;
    color: var(--gray-with-blue-400);
  }
}
