.container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  justify-content: space-between;

  img {
    width: 100%;
    height: 316px;
    object-fit: cover;
  }

  .iconsContainerHolder {
    display: flex;
    padding: 0.5rem 0;

    .iconWithNumberContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      // margin-right: 0.5rem;
      h5 {
        margin: 0 0.2rem;
        font-size: 0.7rem;
        font-weight: 600;
      }
    }
  }

  h2 {
    margin-bottom: 0.2rem;

    font-size: 0.9rem;

    line-height: normal;

    font-weight: 600;
  }

  p {
    margin-bottom: 1rem;

    line-height: 1.2rem;

    color: var(--gray-600);
    font-weight: 400;
    font-size: 0.75rem;

    span {
      color: var(--primary-color);
      font-weight: 500;
    }
  }

  .amenitiesContainer {
    display: flex;
    margin-bottom: 0.5rem;

    .amenitie {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;

      h5 {
        margin: 8px 0;

        font-weight: 600;
        font-size: 0.6rem;
      }
    }
  }

  .priceAndControlsContainerHolder {
    display: flex;
    height: auto;
    cursor: default;
    .pricesInfos {
      flex: 2;
      display: flex;
      flex-direction: column;
      font-family: 'SulSansRegular';

      s {
        color: var(--gray-with-blue-400);
        h6 {
          color: var(--gray-with-blue-400);
          font-size: small;
        }
      }

      u {
        color: var(--gray-with-blue-400);
        h5 {
          font-weight: 500;
          color: var(--gray-with-blue-400);
          font-size: smaller;
        }
      }

      h4 {
        margin-bottom: 0.5rem;

        color: var(--primary-color);
        font-size: 20px;

        .cents {
          color: var(--primary-color);
          font-size: 0.875rem;
        }
        span {
     
          color: var(--gray-400);
          font-size: 0.9rem;
        }
      }

      h6 {
        color: var(--gray-400);
        font-size: 0.9rem;
      }
    }

    .addButtons {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--light-text);
        cursor: pointer;
        height: 36px;
        width: 36px;
        border-radius: 100%;
        border: 1px solid var(--gray-150);

        .removeIcon {
          font-size: 14px;
        }

        .addIcon {
          font-size: 14px;
        }
      }
      h5 {
        padding: 0 0.5rem;
      }
    }
  }
}
