*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg: #ffffff;
  --dark-text: #000000;
  --light-text: #fff;
  --primary-color: #2ab59c;
  --yellow: #ffffd6;
  --dark: #2e2e48;
  --brown: #3f3f1a;
  --light: #fafafc;
  --gray: #d5d5d5;
  --gray-150: #dddddddd;
  --gray-200: #efeff5;
  --gray-600: #828282;
  --gray-400: #979797;
  --gray-with-blue-400: #93A2AB;
  --white: #fff;
  --sidePadding: 3rem;
  --maxWidth: 40%;
  --containerWidth: 1200px;
}

body {
  font-family: 'Epilogue', sans-serif;
  background: var(--light);
  color: var(--dark);
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
  font-size: 1rem;
  background-color: var(--light-text);

  
}


input,
a,
button {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}
::selection {
  color: var(--light);
  background: var(--primary-color);
}

.btn {
  --color: var(--dark);
  --bgcolor: var(--light);
  display: inline-block;
  white-space: nowrap;
  padding: 1.25rem 1.5rem;
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--color);
  background: var(--bgcolor);
  border-radius: 0.66rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1.5rem -0.5rem currentColor;

  font-weight: 600;
}
.btn.btn-dark {
  --color: var(--light);
  --bgcolor: var(--dark);
}

.btn:hover,
.btn:focus {
  box-shadow: 0 0 0 2px var(--color), 0 0 0 4px var(--bgcolor);
}
.btn:active {
  transform: scale(0.95);
}

section h2 {
  font-weight: 800;
  font-size: 1.75rem;
}

#nprogress .bar {
  background: var(--primary-color);
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--primary-color), 0 0 5px var(--primary-color);
}

@media (max-width: 36rem) {
  :root {
    --sidePadding: 1.5rem;
    --maxWidth: 100%;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .btn {
    font-size: 1rem;
    padding: 1.25rem 1rem;
    font-weight: 600;
  }

  section h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 48rem) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 81rem) {
  html {
    font-size: 18px;
  }
  /* section:not(.hero) {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }  */
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #fafafa;
  border-radius: 2rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  transition: all 0.4s ease;
  background: #a1a1a1;
  border-radius: 200px;
}
